.container{
    min-height: 90vh;
    background-color: blue;
    background-image: url("../../assets/img/bgLogin.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
}