:root {
   --purple-light: #A869C1;
  --purple-medium: #7A3F93;
  --purple-dark: #47215E;
  --pink: #c93f78;
  --green: #abdb19;
  --dark-green: #0b7508;
  --blue: #00C9FF;
  --ligth-blue: rgb(202, 228, 240);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
