.detail-container{
  min-height: 500px;
  max-width: 750px;
  min-width: 350px;
  margin: 40px;
  padding-top: 10px;
  border-radius: 30px;
  background: rgb(46, 22, 65);
  background: linear-gradient(
    0deg,
    var(--purple-dark) 0%,
    var(--purple-light) 90%
  );
  border: 10px solid var(--purple-dark);
  box-shadow: 0 0 12px 3px var(--purple-dark);
  transition: 50ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.detail-container:hover {
  transform: scale(1.009);
  box-shadow: 0 0 15px 5px var(--purple-dark);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.detailImage {
  display: flex;
  width: 450px;
  max-width: 320px;
  border: 4px solid var(--violet-dark);
  margin: 5px;
  transition: 150ms;
}

.infoContainer {
  max-width: 400px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card-name {
  width: 50%;
  position: relative;
  top: 310px;
  left:-77px;
  text-align:left;
  font-size: 15px;
  background-color:var(--green);
  padding: 0.2rem 0.3rem;
  border: 1px solid black;
  }

.card-info-container {
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  color: var(--ligth-blue);
 }


.card-info {
  font-size: 22px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
