.favs{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    gap: 2rem;
    flex-direction: row;
    justify-content:space-evenly;
    /* width: 90%;
    margin: auto;
    padding: 2em;
    border-radius: 15px; */
}

.containerFavs{
    gap: 2 rem;
    flex-wrap: wrap;
    row-gap: 2rem;
    flex-direction: row;
    justify-content:center;
    padding: 6em;
    
}

.rowFilter{
    display: flex;
    justify-content: center;
}