
@font-face {
  font-family: 'Bungee Spice';
  src: url('../../assets/Font/Bungee/bungeespice-regular-webfont.woff2') format('woff2'),
       url('../../assets/Font/Bungee/bungeespice-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'Bungee Spice';
  text-transform: uppercase;
}
.container {
  text-align: center;
  height: 100%;
  min-height: 96vh;
  background-image: url("../../assets/img/3BPy.gif");
  background-size:cover;
  /* background-color: var(--purple);
  background-blend-mode: lighten; */
  background-repeat: no-repeat;
  background-position:right;
  display: flex;
  justify-content:center;
  flex-direction:row;
  align-items:center;
  text-align: center;
  padding: 0px 30px
}

.formContainer {
  padding: 7vh 9vh 7vh 9vh;
  min-height: 90vh;
  min-width: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  rgba(62, 19, 92, 0.85);
  border-radius: 30px;
}

.title {
  margin: 0px auto 110px;
  color:var(--green-medium);
  font-size: 45px;
  text-align: center;
  text-shadow: 2px 4px 0px var(--purple-medium), 7px 4px 0px var(--pink);
  transition: 200ms;
  
}
.title:hover {
  color: var(--ligth-blue);
}

input{
  text-align: center;
  
}
.container h3 {
  color: var(black);
  margin: 7vw auto;
  left: auto;
  font-weight: 900;
  font-size: 20px;
  display: flex;
}
.info{
  margin-top: -50px;
}
.container button {
  background-color: var(--green);
  padding: 5px 20px;
  margin: 6px;
  font-family:'Courier New', Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  color: var(--purple-dark);
  border-radius: 10px;
  border-color: transparent;
  transition: 700ms;
}
.button{
 top:auto;
}



.form button:hover {
  background-color: var(--ligth-blue);
  transform: scale(1.1);
  box-shadow: 2px 2px 0px var(--purple-light), 4px 4px 0px var(--pink);
}

.label {
  display: none;
}

.made{
  display:flex;
 position: fixed;
  top: 30rem;
  left:300px;
  text-align: center;

}
.link:link,
.link:visited {
  color: var(--dark-green);
}
.link:hover,
.link:active {
  color: var(--purple-dark);
}
.warning {
  border: solid white 7px;
  border-radius: 1px;
}
.invalid {
  font-size: 11px;
  color: var(--ligth-blue);
}
.toggle {
  font-family: "Signika Negative", sans-serif;
  border: none;
  cursor: pointer;
  margin: 4px;
  transition: 800ms;
}
.toggle:hover {
 background-color: var(--ligth-blue);
  transform: scale(1.1);
  box-shadow: 2px 2px 0px var(--purple-light), 4px 4px 0px var(--pink);
}

.guestInfo {
  color: var(--ligth-blue);
  font-family: "Signika Negative", sans-serif;
  font-size: 15px;
}

.guestInfo p {
  margin: 7px;
}