.cardsContainer{
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;
    flex-direction: row;
    justify-content:center;
    padding: 6em;
   
}
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top:80px;
    gap: 2rem;
    flex-direction: row;
    justify-content:space-evenly;
  }