/* .container{
    min-height: 88.5vh;
    background-image: url("../../assets/img/bgLogin.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    
} */
@font-face {
  font-family: 'Bungee Spice';
  src: url('../../assets/Font/Bungee/bungeespice-regular-webfont.woff2') format('woff2'),
       url('../../assets/Font/Bungee/bungeespice-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title, .label, .button, .email {
  font-family: 'Bungee Spice';
}

.container {
  min-height: 100vh;
  background-color: #141414;
  background-image: url("../../assets/img/bgLogin.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-block: 0;
  color: #0b7508;
  font-size: 5rem;
  text-align: center;
  text-shadow: -1px -1px 0 #0a0a0a, 1px -1px 0 #080808, -1px 1px 0 #070707, 1px 1px 0 #050505, 0 0 6px #066837;
}

.label, .email {
  font-size: 1.5rem;  
  color: #FFC300;
  text-shadow: -1px -1px 0px #2C5234, 1px -1px 0px #4C4C4C, -1px 1px 0px #2C5234, 1px 1px 0px #4C4C4C, 0 0 6px #2C5234;
}

.input, .inputEmail {
  width: 50%;
  padding: 0.2rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: #2ef306;
  margin-bottom: 1rem;
}

.input[type="password"] {
  margin-top: 1rem; /* Agrega un margen superior de 1rem */
}


.button {
  font-size: 1.5rem;
  color: #FFC300;
  text-shadow: -1px -1px 0px #2C5234, 1px -1px 0px #4C4C4C, -1px 1px 0px #2C5234, 1px 1px 0px #4C4C4C, 0 0 6px #2C5234;
  background-color: #0e74db;
  padding: 0.5rem 2rem;
  border: 1px solid #111111; /* Corregido el estilo de borde */
  border-radius: 5px;
  box-shadow: 10px 10px 20px 0px rgb(10, 10, 10);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #081061;
}


